In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

First I want to inspect the metadata files and make the information more useful. For example, the author column in the Project Gutenberg data.

In [20]:
pg_metadata = pd.read_csv('../data/gut_books/austen_metadata.csv')

In [21]:
pg_metadata.head()

,Text#,Type,Issued,Title,Language,Authors,Subjects,LoCC,Bookshelves
0,105,Text,1994-02-01,Persuasion,en,"Austen, Jane, 1775-1817",England -- Social life and customs -- 19th cen...,PR,NaN
1,121,Text,1994-04-01,Northanger Abbey,en,"Austen, Jane, 1775-1817",England -- Social life and customs -- 19th cen...,PR,Gothic Fiction
2,141,Text,1994-06-01,Mansfield Park,en,"Austen, Jane, 1775-1817",England -- Fiction; Young women -- Fiction; Lo...,PR,NaN
3,158,Text,1994-08-01,Emma,en,"Austen, Jane, 1775-1817",Humorous stories; England -- Fiction; Young wo...,PR,NaN
4,21839,Text,2007-06-15,Sense and Sensibility,en,"Austen, Jane, 1775-1817; Dobson, Austin, 1840-...",England -- Social life and customs -- 19th cen...,PR,NaN

Keep columns: Text#, Title, Authors

In [22]:
pg_metadata = pg_metadata[['Text#', 'Title', 'Authors']]

In [23]:
# clean up Authors
pg_metadata['Authors'] = pg_metadata['Authors'].str.split(',').str[:2].str.join(',')

In [24]:
pg_metadata

   Text#                  Title       Authors
0    105             Persuasion  Austen, Jane
1    121       Northanger Abbey  Austen, Jane
2    141         Mansfield Park  Austen, Jane
3    158                   Emma  Austen, Jane
4  21839  Sense and Sensibility  Austen, Jane
5  42671    Pride and Prejudice  Austen, Jane