In [1]:
import pandas as pd
import helper_functions as h
from nltk import sent_tokenize
from sklearn.model_selection import LeaveOneGroupOut
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix, roc_curve, roc_auc_score, accuracy_score, classification_report
import seaborn as sns
import matplotlib.pyplot as plt
from xgboost import XGBClassifier

import helper_functions as h

In [2]:
token_2000 = pd.read_csv('../data/token_2000.csv')

Using the same text segments, how will more pre-processing affect the model outcomes? So far, tf-idf has under performed count vectorizer which is unexpected. Doing stopword removal after tokenization so the portion of the text in each chunk remains stable. I've added honorifics (Mr, Mrs, Miss) to the stopword list since those words are so common in Austen's writing.

In [3]:
# remove stopwords
token_2000['no_stops'] = token_2000['token_text'].apply(h.remove_stop_words)

In [4]:
token_2000.head()

,text#,title,author,words,text_length,is_Austen,is_Austen_bool,token_text,token_num,token_char_count,token_sent_count,token_word_count,no_stops
0,52705351,The Meek Shall Inherit,AvonleaBrigadoon,67407,long,Not Austen,0,21 July 1809 I am sixteen today: an age at whi...,1,1994,29,381,21 July 1809 sixteen today : age often talk co...
1,52705351,The Meek Shall Inherit,AvonleaBrigadoon,67407,long,Not Austen,0,24 July I have conquered the first phrase with...,2,1989,23,378,"24 July conquered first phrase hands , includi..."
2,52705351,The Meek Shall Inherit,AvonleaBrigadoon,67407,long,Not Austen,0,"Jane and Lizzy tried speaking to Papa, saying ...",3,1966,23,384,"Jane Lizzy tried speaking Papa , saying two fu..."
3,52705351,The Meek Shall Inherit,AvonleaBrigadoon,67407,long,Not Austen,0,"I was so embarrassed, that I was not able to a...",4,1929,23,347,"embarrassed , able attend introduction danced ..."
4,52705351,The Meek Shall Inherit,AvonleaBrigadoon,67407,long,Not Austen,0,"~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 28 December, 18...",5,1992,25,364,"~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 28 December , 1..."

In [5]:
token_2000.to_csv('../data/token_2000_no_stop.csv', index = False)