In [12]:
import pandas as pd
from wordcloud import WordCloud

from collections import Counter
import matplotlib.pyplot as plt

from nltk.stem import WordNetLemmatizer

import helper_functions as h

In [2]:
# read in metadata, need text#, title, Austen/not-Austen ultimately
metadata = pd.read_csv('../data/metadata.csv')

In [5]:
md_long = metadata[metadata['text_length'] == 'long']

In [7]:
md_long.head()

,text#,title,author,words,text_length,is_Austen,is_Austen_bool
25,52705351,The Meek Shall Inherit,AvonleaBrigadoon,67407,long,Not Austen,0
81,30672131,The Betrothal,Lupin111,64340,long,Not Austen,0
90,40263168,Regent Observer,TheUnpredictableMuse,132259,long,Not Austen,0
99,33964492,Mrs. Elizabeth Collins of Rosings Park,dorotheabrooke1,63858,long,Not Austen,0
103,35534191,Lost in Thought,emesa,85986,long,Not Austen,0

In [8]:
ids = md_long['text#'].tolist()

In [11]:
counters = []
counter_len = []

wnl = WordNetLemmatizer()

for id in md_long['text#']:
    text = h.read_text(id)
    text_counter = h.get_counter(text)
    counters.append(text_counter)
    counter_len.append(len(text_counter))

md_long['word_counter'] = counters
md_long['unique_words'] = counter_len

/var/folders/xm/vmtk5pms0jzb2kmtm00lwtn80000gn/T/ipykernel_65585/2146868511.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  md_long['word_counter'] = counters
/var/folders/xm/vmtk5pms0jzb2kmtm00lwtn80000gn/T/ipykernel_65585/2146868511.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  md_long['unique_words'] = counter_len

In [13]:
md_long.head()

,text#,title,author,words,text_length,is_Austen,is_Austen_bool,word_counter,unique_words
25,52705351,The Meek Shall Inherit,AvonleaBrigadoon,67407,long,Not Austen,0,"{'21': 17, 'july': 32, '1809': 10, 'sixteen': ...",5189
81,30672131,The Betrothal,Lupin111,64340,long,Not Austen,0,"{'seems': 19, 'like': 73, 'lovely': 10, 'place...",5219
90,40263168,Regent Observer,TheUnpredictableMuse,132259,long,Not Austen,0,"{'truth': 27, 'universally': 1, 'acknowledged'...",9079
99,33964492,Mrs. Elizabeth Collins of Rosings Park,dorotheabrooke1,63858,long,Not Austen,0,"{'introduction': 21, 'hi': 3, 'everyone': 27, ...",4312
103,35534191,Lost in Thought,emesa,85986,long,Not Austen,0,"{'air': 30, 'close': 44, 'nearly': 43, 'stifli...",6456

In [ ]:
wc = WordCloud()

id = 158
counter_object = metadata.loc[metadata['text#'] == id]['word_counter'].reset_index(drop = True)[0]

wc.generate_from_frequencies(counter_object)
plt.figure(figsize = (10,6))
plt.imshow(wc, interpolation='bilinear')
plt.axis("off");

In [18]:
wc = WordCloud()

# subset df
ja_df = md_long[md_long['is_Austen_bool'] == 1]

ja_counter = Counter()
for counter in ja_df['word_counter']:
    ja_counter += counter

wc.generate_from_frequencies(ja_counter)
plt.figure(figsize = (10, 6))
plt.imshow(wc, interpolation = 'bilinear')
plt.axis('off')

plt.savefig(f'../images/ja_wordcloud.png', bbox_inches = 'tight', transparent = True)
plt.close();

In [15]:
len(ja_counter)

14164

In [19]:
wc = WordCloud()

# subset df
ff_df = md_long[md_long['is_Austen_bool'] == 0]

ff_counter = Counter()
for counter in ff_df['word_counter']:
    ff_counter += counter

wc.generate_from_frequencies(ff_counter)
plt.figure(figsize = (10, 6))
plt.imshow(wc, interpolation = 'bilinear')
plt.axis('off')

plt.savefig(f'../images/ff_wordcloud.png', bbox_inches = 'tight', transparent = True)
plt.close();

In [20]:
len(ff_counter)

34785